body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-top: 0;
    color: #ff4971;
}

.msg {
    font-size: 18px;
    color: #444;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background: #ff4971;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff2e5f;
}

.hidden {
    display: none;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

